nav > ul {
  display: flex;

}
nav li {
  list-style: none;
  padding: 5px;
  margin-right: 20px;
}
nav ul li a {
  text-decoration: none;
}
nav li .dropdown {
  display: none;
  position: absolute;
  background-color: antiquewhite;
  padding-left: 10px;
}
nav li:hover .dropdown {
  display: block;
}